.navbar {
  background-color: white;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-brand {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 4.5vh;
}

body {
  margin: 0px;
  padding: 0px;
}

.nav-color {
  background-color: #000;
  height: 10px;
}

#no-margins {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid {
  display: grid;
  grid-template-columns: 25% 75%;
}

.icon{
  font-size: 45px;
}


