@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.result-box {
  background-color: lavender;
  width: 400px;
  height: 190px;
  border-radius: 25px;
  box-shadow: 3px 5px 5px darkgray;
  margin: 20px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.sidebar {
  background-color: lavender;
  height: 100vh;
}

p {
  margin: 0px;
}

.inner-box {
  margin: auto;
  display: grid;
  grid-template-columns: 175px 225px;
}

/* img {
  max-height: 150px;
}
 */
.margin-30px {
  margin: 30px;
}
